@model instagram.Models.user

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>





<div>
    <h4>user</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.name)
        </dd>


        <dt>
            @Html.DisplayNameFor(model => model.email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.image)
        </dt>

        <div class="image-size">
            <img src="@Url.Content(Model.image)" alt="error" class="img-responsive image-center" width="300" height="300" />
        </div>


    </dl>
</div>
<p>
	@Html.ActionLink("Search", "Search", new { id = Model.id }) 
</p>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id }) 
</p>
<p>
    @Html.ActionLink("Add photos", "CreatePost", new { id = Model.id }) 
</p>
<p>
    @Html.ActionLink("Your photo", "ShowUserPosts", new { id = Model.id }) 
</p>
<p>
    @Html.ActionLink("followers", "ShowUserFollowers", new { id = Model.id }) 
</p>
<p>
    @Html.ActionLink("Show your request", "ShowUserRequest", new { id = Model.id }) 
</p>
