@model instagram.ViewModels.PostViewModel

@{
    ViewBag.Title = "ShowUserPosts";
}

<h2>ShowUserPosts</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th></th>
    </tr>

@foreach (var item in Model.PostReactsList) {
<tr>
    <td>
        <img src="@Url.Content(item.Post.image)" alt="error" class="img-responsive image-center" width="300" height="300" />
    </td>

    @if (item.UsersComments != null)
    {
        <td> comments </td>
        foreach (var i in item.UsersComments)
        {
            <td>@i.User.name</td>
            <td>@i.Comment.content</td>
        }
    }
    @if (item.UserReacts != null)
    {
        <td> Reacts </td>
        foreach (var i in item.UserReacts)
        {
            <td>@i.User.name</td>
            <td>@i.PostReact.state</td>
        }
    }
    


</tr>
}

</table>
