@using instagram.Models
@model instagram.Models.user

@{
	ViewBag.Title = "ViewProfile";
	var follower = (follower)ViewData["follower"];
}

<h2>ViewProfile</h2>

<div>
	<h4>user</h4>
	<hr/>
	<dl class="dl-horizontal">
		<dt>
			@Html.DisplayNameFor(model => model.name)
		</dt>

		<dd>
			@Html.DisplayFor(model => model.name)
		</dd>

		<dt>
			@Html.DisplayNameFor(model => model.email)
		</dt>

		<dd>
			@Html.DisplayFor(model => model.email)
		</dd>

		<dt>
			@Html.DisplayNameFor(model => model.image)
		</dt>

		<dd>
			<img src="@Url.Content(Model.image)" alt="error" class="img-responsive image-center" width="300" height="300"/>
		</dd>

		@if (follower == null)
		{
			using (Html.BeginForm("ControlRequest", "Profile", FormMethod.Post))
			{
                <button type="submit" name="value" value="Requested">Follow</button>
			}
		}
		else
		{
			if (follower.state == "Requested")
			{
				<button>Requested</button>
			}
			else
			{
				<button>Following</button>
			}
		}




	</dl>
</div>
<p>
	@Html.ActionLink("show posts", "ShowUserPosts", new { Model.id, viewerId = ViewData["id"] })

	@Html.ActionLink("Back to List", "Index")
</p>